.absent-student {
    box-shadow: 0 0 5px -2px var(--a);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.absent-student .absent-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}